[submodule "plugins/game-boy/gambatte-libretro"]
	path = plugins/game-boy/gambatte-libretro
	url = https://github.com/libretro/gambatte-libretro.git
[submodule "plugins/nes/nestopia"]
	path = plugins/nes/nestopia
	url = https://github.com/libretro/nestopia.git
[submodule "plugins/pc-engine/beetle-pce-fast-libretro"]
	path = plugins/pc-engine/beetle-pce-fast-libretro
	url = https://github.com/libretro/beetle-pce-fast-libretro.git
[submodule "plugins/snes/bsnes-libretro"]
	path = plugins/snes/bsnes-libretro
	url = https://github.com/libretro/bsnes-libretro.git
